.news__container {

    display: grid;
    grid-gap: 16px;
    margin: 0 auto 92px;
    justify-content: center;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    max-width: 1440px;
}





@media all and (min-width : 768px) and (max-width : 1223px){
    .news__container {
        margin: auto;
        grid-gap: 15px;    }
}

@media all and (min-width : 425px) and (max-width : 767px){
    .news__container {
        grid-gap: 15px;
        max-width: 1440px;

        }
}

@media all and (max-width : 424px){
    .news__container {
        grid-gap: 15px;
        max-width: 1440px;

    }
} 

