.button {
      margin:0px;
      background-color: #f44336;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      height: 57px;
      width: 245px;
}


@media all and (min-width : 1025px) and (max-width : 1440px) {
    .button {     
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 26px;
         text-align: center;
         color: #FFFFFF;
         height: 57px;
         width: 245px;

     }
 }
 
 @media all and (min-width : 769px) and (max-width : 1024px){
    .button{
       
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 26px;
         text-align: center;
         
         color: #FFFFFF;
         width: 275px;

         
     }
 }
 

@media all and (min-width : 376px) and (max-width : 768px) {
    .button {
        
        color: #FFFFFF;
        width: 245px;
        height: 57px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;

    }


    }





@media all and (min-width : 321px) and (max-width : 375px){
    .button{

    
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 7px;
    text-align: center;
    color: #FFFFFF;
    width: 145px;
    height: 35px;
}
    }


@media all and (max-width : 320px){
    .button {
   
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        width: 180px;
        height: 40px;

    }
}
