.header__logo {
    display: flex;
    width: 250px;
    height: 200px;
    color: red;
    text-decoration: none;
    font-size: 70px;
    align-items: center;
    padding-left: 50px;
}

@media all and (min-width : 1024px) and (max-width : 1440px) {
    .header__logo {
    width:  250px;
    height: 200px;
    font-size: 70px;
    padding-left: 40px;
        }
}

@media all and (min-width : 870px) and (max-width : 1024px){
    .header__logo {
        max-width: 170px;
        max-height: 100px; 
        font-size: 50px;
        padding-left: 40px;
        }
}
 @media all and (min-width : 769px) and (max-width : 869px){
    .header__logo {
        font-size: 40px;
        padding-left: 30px;
        max-height: 100px; 

         
     }
 }

@media all and (min-width : 425px) and (max-width : 768px){
    .header__logo {
        max-width: 170px;
        max-height: 100px; 
        font-size: 30px;
        padding-left: 30px;
        }   
}
@media all and (max-width : 425px) {
    .header__logo {
     max-width: 142px;
     font-size: 15px;
     padding-left: 20px;
     max-height: 100px; 

    }
}