@import url('../header/__menu/_selected/header__menu.css');
@import url('../header/__menu/_selected/header__menu_selected.css');
@import url('../header/__logo/header__logo.css');
@import url('../header/__items/header__items.css');
@import url('../header/__menu/_selected/header__menu_contact.css');

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px;
    background: white;
    margin: auto;
    max-width: 1440px;

}


@media all and (min-width : 1024px) and (max-width : 1440px) {
    .header {

        padding: 0px 10px 0px;
        max-width: 100vw;
    }
    }


@media all and (min-width : 768px) and (max-width : 1024px) {
    .header {
        max-width: 100vw;
        padding: 0px 10px 0px;
    }
}

@media all and (min-width : 425px) and (max-width : 768px) {
    .header {
        max-width: 100vw;
        padding: 0px 10px 0px;
    }
}

@media all and (max-width : 425px) {
    .header {
        max-width: 100vw;
        padding: 0px 10px 0px;
    }
}



