.footer__container {
  display: flex;
  width: 80%;
  align-items: center;
}



@media screen and (max-width: 740px) {
  .footer__container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  }