.news__comment {
    width: 382px;

}


@media all and (min-width : 1024px) and (max-width : 1440px) {
    .news__comment {

        display: flex;
        margin: 0 auto 102px;
        flex-direction: column;

    }

}


@media all and (min-width : 768px) and (max-width : 1023px) {
    .news__comment {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto 48px;
    }
}

@media all and (min-width : 425px) and (max-width : 767px) {
    .news__comment {

        max-width: 100%;
        display: block;
        margin: 0 auto 48px;
    }
}

@media all and (max-width : 424px) {
    .news__comment {

        max-width: 100%;
        display: block;
        margin: 0 auto 48px;
        display: flex;
        flex-direction: column;

    }
}