.footer__copyright {
  flex-grow: 1;
  margin: 32px 0 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4;
  color: #b6bcbf;
  padding-right: 10%;
}


@media all and (min-width : 1024px) and (max-width : 1280px) {
  .footer__copyright {
    margin-top: 24px;
    margin-bottom: 18px;
    /* padding-right: 60%; */
  }
}

@media all and (min-width : 768px) and (max-width : 1023px){
  .footer__copyright {

    display: flex;

  }
}

@media all and (min-width : 425px) and (max-width : 767px){
  .footer__copyright {

    display: flex;
  }
}

@media all and (max-width : 424px){
  .footer__copyright {
    order: 3;
    width: 100%;
    margin: 0 0 28px;
    font-size: 12px;
    line-height: 19px;
}

}



