.news__title {
width: 382px;

font-style: normal;
font-weight: normal;
font-size: 19px;
font-weight: 900;

line-height: 24px;   
color: black; 
margin:12px 0px 7px;

}



@media all and (min-width : 1024px) and (max-width : 1440px) {
    .news__title {     

        max-width: 90%;
        display: block;
        font-weight: 900;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        
    }
}

@media all and (min-width : 768px) and (max-width : 1023px){
    .news__title {
        max-width: 100%;
        display: block;
        font-weight: 900;
        font-style: normal;
        font-size: 16px;
        line-height: 23px;
        
    }
}

@media all and (min-width : 425px) and (max-width : 767px){
    .news__title {
   
        max-width: 100%;
        display: flex;
        font-weight: 900;
        font-style: normal;
        font-size: 16px;
        line-height: 23px;
        
        }
}

@media all and (max-width : 424px){
    .news__title {

        max-width: 100%;
        display: flex;
        font-weight: 900;
        font-style: normal;
        font-size: 16px;
        line-height: 23px;
    }
} 
