.news__subtitle {
width: 382px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: black;
margin:0px;
}



@media all and (min-width : 1024px) and (max-width : 1440px) {
    .news__subtitle  {     

        max-width: 90%;
        display: block;
        
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        
        

    }
}

@media all and (min-width : 768px) and (max-width : 1023px){
    .news__subtitle {
        max-width: 100%;

        
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

@media all and (min-width : 425px) and (max-width : 767px){
    .news__subtitle {
   
        max-width: 100%;
        display: flex;
        justify-content: center;
        
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        
        }
}

@media all and (max-width : 424px){
    .news__subtitle {

        max-width: 100%;
        
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }
} 
