@import url('./__image/cover__image.css');
@import url('./__rect/cover__rect.css');
@import url('./__button/cover__button.css');
@import url('./__title/cover__title.css');
@import url('');
@import url('');




.cover {
    margin: 0px auto 82px;
    height: 594px;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1440px;
}

@media all and (min-width : 1280px) and (max-width : 1440px) {
    .cover {


        width: 100vw;
        height: 594px;

    }
}

@media all and (min-width : 1024px) and (max-width : 1279px) {
    .cover {


        width: 100vw;
        height: 562px;

    }
}

@media all and (min-width : 768px) and (max-width : 1023px) {
    .cover {
        width: 100vw;
        max-height: 562px;
    }
}

@media all and (min-width : 425px) and (max-width : 768px) {
    .cover {

        max-width: 100vw;
        max-height: 500px;
     
    }
}

@media all and (max-width : 425px) {
    .cover {

        max-width: 100vw;
        max-height: 272px;
       
    }
}