.cover__image {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    background-size: cover;
    background-image: url(../../../images/QSOFT.FUTURE.jpg);
    display: block;
    background-position: center;
    text-decoration: none;
    /* margin: auto; */
    max-width: 1440px;

}

@media all and (min-width : 1281px) and (max-width : 1440px) {
    .cover__image {
        justify-content: center;
        align-items: center;
        display: flex;
        background-repeat: no-repeat;

        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 594px;
        

    }
}


@media all and (min-width : 1025px) and (max-width : 1280px) {
    .cover__image {
        justify-content: center;
        align-items: center;
        display: flex;
        background-repeat: no-repeat;

        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 594px;
        

    }
}

@media all and (min-width : 769px) and (max-width : 1024px) {
    .cover__image {
        justify-content: center;
        align-items: center;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        
        background-position: center;
        width: 100vw;
        height: 562px;
        
    }
}

@media all and (min-width : 376px) and (max-width : 768px) {
    .cover__image {
        width: 100vw;
        height: 500px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
      
        background-position: center;
    }
}




@media all and (min-width : 321px) and (max-width : 375px){
    .cover__image{

        justify-content: center;
        align-items: center;
        display: flex;
 
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 272px;
        background-position: center;
    }
}

@media all and (max-width : 320px){
    .cover__image {
        justify-content: center;
        align-items: center;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 216px;
        background-position: center;
    
    }
}
