.cover__title {
    width: 70%;;
    height: 170px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #FFFDFD;
}




@media all and (min-width : 1025px) and (max-width : 1280px)  {
    .cover__title {
        justify-content: center;
        align-items: center;
        display: flex;
        max-width: 70%;
        height: 170px;

        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #FFFDFD;     

    }
        
    }


@media all and (min-width : 769px) and (max-width : 1024px) {
    .cover__title {
        max-width: 75%;
        justify-content: center;
        align-items: center;
        display: flex;
        font-style: normal;
        font-weight: 900;
        font-size: 23px;
        line-height: 30px;
        text-align: center;
        color: #FFFDFD;
        height: 170px;

    }
}

@media all and (min-width : 376px) and (max-width : 768px) {
    .cover__title {   
        justify-content: center;
        align-items: center;
        display: flex;
        max-width: 85%;
        height: 170px;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #FFFDFD;    

    }

    }





@media all and (min-width : 321px) and (max-width : 375px){
    .cover__title{
        max-width: 90%;
        justify-content: center;
        align-items: center;
        display: flex;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        height: 80px;
    

    }
}

@media all and (max-width : 320px){
    .cover__title {   
    justify-content: center;
    align-items: center;
    display: flex;
 
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    width:65%;
    height: 90px;
}
    
}
