.header__menu_contact{
    margin-right: 50px;
}


@media all and (min-width : 1024px) and (max-width : 1440px) {
.header__menu_contact{

     margin-right: 50px;

        }
    }


@media all and (min-width : 768px) and (max-width : 1024px) {
.header__menu_contact{

   margin-right: 30px;

    }
}

@media all and (min-width : 425px) and (max-width : 768px) {
.header__menu_contact{

margin-right: 20px;

    }
}

@media all and (max-width : 425px) {
.header__menu_contact{  

    margin-right: 20px;
  
    }
}



