.header__items {
display: flex;
align-self: center;
flex-wrap: wrap;
padding-right: 55px;
}


@media all and (min-width : 1025px) and (max-width : 1440px) {
    .header__items {     
     padding-right: 55px;


     }
 }
 
 @media all and (min-width : 769px) and (max-width : 1024px){
    .header__items{
     padding-right: 35px;


         
     }
 }
 

@media all and (min-width : 376px) and (max-width : 768px) {
    .header__items {
        
   padding-right: 15px;

    }


    }





@media all and (min-width : 321px) and (max-width : 375px){
    .header__items{
   padding-right: 5px;
    
}
    }


@media all and (max-width : 320px){
    .header__items {
   padding-right: 5px;

    }
}
