@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/news/news.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/animated-opacity/animated-opacity.css');
@import url('../vendor/inter/inter.css');
@import url('../blocks/footer/footer.css');
@import url('../components/button/button.css');
@import url('../blocks/n-favicon/favicon.css');

.html {
    background-color: red;
}

.page {

    /* background-color: #2A2C2F; */
    font-family: Inter, Arial, sans-serif;
    margin: auto;
    overflow: hidden;
    border: 5px solid black;

}



@media all and (min-width : 1024px)and (max-width : 1440px) {
    .page {

        margin: auto;
        /* overflow: hidden; */

    }
}

@media all and (min-width : 768px) and (max-width : 1024px) {
    .page {


        margin: auto;
        /* overflow: hidden; */
    }
}

@media all and (min-width : 425px) and (max-width : 768px) {
    .page {

        margin: auto;
        overflow: hidden;

    }
}

@media all and (max-width : 425px) {
    .page {

        margin: auto;
        overflow: hidden;
    }
}

@media all and (max-width : 320px) {
    .page {

        margin: auto;
        overflow: hidden;
    }
}

blockquote {
    margin: 0;
    padding: 0;

}


@media all and (min-width : 320px) and (max-width : 769px) {
    blockquote {
        margin: 0;
        padding: 0;
        order: 1;
    }
}